.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-information-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-pretext {
  position: relative;
  right: 4%;
  margin: 10px 0;
  font-size: clamp(2rem, 3vw, 3rem);
  width: fit-content;
  text-wrap: nowrap;
}

.about-me-name {
  position: relative;
  left: 4%;
  font-size: clamp(3.8rem, 4.2vw, 4.2rem);
  font-weight: bold;
  margin: 0;
}

.add-space::after {
  content: '_';
  visibility: hidden;
}
