.about-me-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.about-me-information-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.about-me-pretext {
  position: relative;
  right: 4%;
  margin: 10px 0;
  font-size: clamp(2rem, 3vw, 3rem);
  width: fit-content;
  text-wrap: nowrap;
}

.about-me-name {
  position: relative;
  left: 4%;
  font-size: clamp(3.8rem, 4.2vw, 4.2rem);
  font-weight: bold;
  margin: 0;
}

.add-space::after {
  content: '_';
  visibility: hidden;
}

.about-me-description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  padding-top: 5vh;
  padding-bottom: 20vh;
  transition: opacity 1s ease-in-out 0.75s, visibility 1s ease-in-out;
}

.about-me-photo {
  /* width: 30%; */
  max-width: 300px;
}

.about-me-description {
  max-width: 500px;
  padding: 0 5%;
}
