.detail-pane {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  color: white;
}

.detail-pane.open {
  transform: translateX(0);
}

.detail-pane.close {
  transform: translateX(100%);
}

.detail-pane-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.detail-pane-header {
  display: flex;
  justify-content: right;
  padding-top: 5px;
  background-color: #2c2c2c;
  padding-bottom: 8px;
  box-shadow: 0px 2px 2px #252525;
}

.project-title-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
}

.detail-pane-project-title {
  font-size: clamp(1.2rem, 2.6vw, 2.2rem);
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
  color: rgb(96, 147, 255);
}

.detail-pane-project-subtext {
  font-style: italic;
  color: white;
}

.project-contributors {
  margin: 0;
  margin-bottom: 5px;
  font-size: clamp(.8rem, 1.4vw, 1.1rem);
  color: white;
}

.contributor-link {
  color: white;
  font-style: italic;
}

.detail-pane-close-button {
  background: none;
  border: none;
  color: white;
  font-size: clamp(1.2rem, 2.6vw, 2.2rem);
  cursor: pointer;
  max-width: fit-content;
  align-self: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.detail-pane-close-button:hover {
  color: #cccccc;
}

.detail-pane-body {
  display: flex;
  align-items: center;
  padding-top: 5vh;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5vh;
}

.detail-pane-image-container {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-bottom: 10px;
}

.detail-pane-project-description-container {
  padding-left: 2%;
  padding-right: 2%;
}

.detail-pane-project-description-header {
  color: rgb(96, 147, 255);
  font-weight: bold;
  font-size: clamp(1.2rem, 2.8vw, 1.8rem);
  margin: 0;
  border-bottom: .2rem solid rgb(96, 147, 255);
  max-width: fit-content;
  padding-bottom: .1rem;
  padding-top: 1%;
}

.detail-pane-project-description-text {
  font-size: clamp(.7rem, 1.2vw, 1.1rem);
  margin-top: 1%;
}

/* mobile */
@media (max-width: 767px) {
  .detail-pane-body {
    flex-direction: column;
  }

  .detail-pane-project-description-container {
    display: flex;
    flex-direction: column;
  }

  .detail-pane-project-description-header {
    font-size:1.5em;
    text-align: center;
    padding-top: 10px;
  }

  .detail-pane-project-description-text {
    font-size: 1.2em;
  }
}

/* desktop */
@media (min-width: 767px) {
  .detail-pane-header {
    padding-left: 8px;
  }

  .detail-pane-body {
    flex-direction: row;
  }

  .detail-pane-image-container {
    padding-left: 2%;
    padding-right: 1%;
  }

  .detail-pane-description-text-container {
    max-height: 50vh;
    overflow-y: scroll;
  }
}

.detail-pane-repo-link {
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  text-align: center;
  background-color: rgb(96, 147, 255);
  border: .2rem solid rgb(46, 112, 253);
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;
  padding: 0 1rem;
}

.detail-pane-repo-link:hover {
  transform: scale(1.05);
  background-color: rgb(46, 112, 253);
}

.detail-pane-repo-label {
  font-size: clamp(.8rem, 1.2vw, 1.2rem);
  white-space: nowrap;
  margin-right: 1rem;
}

.detail-pane-repo-link-icon{
  font-size: 2vw;
  margin-right: 5%;
  max-width: fit-content;
}
