.image-slide-show-container {
  display: flex;
  align-items: center;
  position: relative;
}

.image-slide-show-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: max-content;
}

.image-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot, .image-dot:hover {
  background-color: #297fff;
  height: 14px;
  width: 14px;
}

.image-button-prev, .image-button-next {
  height: fit-content;
  font-size: 1.5em;
  background: none;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 1%;
  padding-bottom: 1%;
}

.image-button-prev {
  left: 0%;
}

.image-button-next {
  right: 0%;
}

.image-slide-show-container:hover .image-button-prev,
.image-slide-show-container:hover .image-button-next {
  opacity: 1;
  font-size: 2em;
  color: white;
}

.app-image {
  height: 60vh;
  max-width: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.app-image.active {
  opacity: 1;
}
