.website-body {
  max-height: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 5px;
  overflow-x: hidden;
  transition: opacity 1s ease-in-out 0.75s, visibility 1s ease-in-out;
}

.website-body-buttons {
  display: flex;
  gap: 8px;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 1vh;
}

.body-button, .body-button--selected {
  flex: 1;
  overflow: hidden;
  padding: 1% 5%;
  min-width: 0;
  font-size: clamp(.8rem, 1.3vw, 1.3rem);;
  background: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.body-button {
  background-color: #2c2c2c;
  border: 1px solid #2c2c2c;
}

.body-button:hover {
  border-color: rgb(46, 112, 253);
  transform: scale(1.03);
}

.body-button--selected {
  background-color: rgb(96, 147, 255);
  border-color: rgb(46, 112, 253);
}

@media (max-width: 768px) {
  .website-body-buttons {
    max-width: 95%;
  }
}
