.website-body {
  background-color: #31363F;
  max-height: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 5px;
  max-height: none;
}

.website-body-buttons {
  display: flex;
  align-items: center;
  max-width: 90%;
}

.body-button, .body-button--selected {
  font-size: calc(10px + .5vmin);
  width: 25vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.body-button--selected {
  background-color: rgb(96, 147, 255);
  border-color: rgb(46, 112, 253);
}
